@model string
@{
    ViewBag.Title = "Error";
    Layout = null;
}
    <style>
        .h3-error {
            text-align: center;
            font-family: 'Segoe UI';
            background-color: midnightblue;
        }
    </style>
<div class="main-content-container">
    <div class="main-content-nested-container">
        <h3 class="h3-error"> @Model </h3>
    </div>
</div>
