@model  string
@{
    ViewBag.Title = "Profile not found";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Body{
    <div class="main-content-container">
        <div class="main-content-nested-container">
            <h3>@Model</h3>
        </div>
    </div>
}
