@model  string
@{
    ViewBag.Title = "Profile not found";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Styles{
    @Styles.Render("~/Content/Post.css")
    }

@section Body{
        <div class="main-content-nested-container" style="text-align: center;">
            <span class="page-name">@Model</span>
        </div>
}
