@model IEnumerable<string>

@{
    ViewBag.Title = "Tag Cloud";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@{ 
    // Styles load incorrectly becouse they download once time in the bundle and dont change after the .css refactoring at the runtime
}

@section Styles{
    @Styles.Render("~/Content/Post.css")
}

@section Scripts{
    @Scripts.Render("~/bundles/PostsInteraction")
    }

@section Body{

        <span class="page-name">All tags</span>
        <hr>

        <div class="main-content-nested-container">
            @foreach(var tag in Model)
            {
                <a href="@Url.RouteUrl("TagPostsRoute", new { tag = tag })" target="_blank">
                    <div class="tag-tagcloud">
                        @tag
                    </div>
                </a>            
            }
        </div>
    }