@model IEnumerable<string>

@{
    ViewBag.Title = "TagCloud";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Styles{
    @Styles.Render("~/Content/Post.css")
    <style>
        .tag-tagcloud {
            padding: 10px;
            color: midnightblue;
            font-family: 'Segoe UI';
            border: 1px solid;
            border-color: midnightblue;
            border-radius: 3px;
            width: auto;
            font-size: large;
            font-weight: 500;
            float: left;
            margin: 8px;
        }
            .tag-tagcloud:hover {
                color: white;
                background-color: midnightblue;
                cursor: pointer;
            }
    </style>
}

@section Scripts{
    @Scripts.Render("~/bundles/PostsInteraction")
    }

@section Body{
    
        <div class="main-content-nested-container">
            @foreach(var tag in Model)
            {
                <a href="#">
                    <div class="tag-tagcloud">
                        @tag
                    </div>
                </a>
                              
                
            }
        </div>

    }