@using ShareYourself.WebUI.Models
@model UserProfileHomeViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section Body{    
    <div class="main-content-container main-content-nested-container">
        <div class="row">

            <div class="col-md-4">
                <img src="~/Content/20170330_185559.jpg" class="userprofile-avatar">
                <button class="btn btn-default upload-avatar-button">Upload avatar</button>
            </div>

            <div class="col-md-offset-1 col-md-7">
                <div class="userprofile-info">
                    <h3>Zheka Korsakas</h3>
                    <br>
                    <span class="userprofile-info-key">E-mail: </span><span class="userprofile-info-value"> korsakaspr@gmail.com</span><br>
                    <span class="userprofile-info-key">Gender: </span><span class="userprofile-info-value"> Mail</span><br>
                    <span class="userprofile-info-key">Birthday: </span><span class="userprofile-info-value"> 18 april 2017</span><br>
                    <span class="userprofile-info-key">Vk: </span><span class="userprofile-info-value"> 18 april 2017</span><br>
                    <span class="userprofile-info-key">Facebook: </span><span class="userprofile-info-value"> 18 april 2017</span><br>
                    <span class="userprofile-info-key">Other links: </span><span class="userprofile-info-value"> 18 april 2017</span><br>
                    <span class="userprofile-info-key">How long registered: </span><span class="userprofile-info-value"> 18 april 2017</span><br>
                    <!---->
                </div>
            </div>

        </div>
    </div>

    <br>

    <div class="main-content-container main-content-nested-container">
    Some content
</div>    
    }

