
@{
    ViewBag.Title = "Subscriptions";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Subscriptions</h2>

@section Styles{
    @Styles.Render("~/Content/Post.css")
}

@section Scripts{
    @Scripts.Render("~/bundles/PostsInteraction")
}

@section Body{
    <span class="page-name">Subscribtions</span>
    <hr class="divide-content">
    }