
@{
    ViewBag.Title = "Subscribtions";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@section Styles{
    @Styles.Render("~/Content/Post.css")
    <style>

    </style>
}

@section Scripts{
    @Scripts.Render("~/bundles/PostsInteraction")
}

@section Body{
    
    <span class="page-name">Subscriptions</span>
    <hr class="divide-content">


    }