.main-content-container { /* for menu and for content at the center of the page*/
    border: 1px solid;
    border-color: midnightblue;
    border-radius: 2px; /*Remove this class from left container on the layout and add it to each block of the downloaded content*/
}



.main-content-nested-container {
    padding: 7px;
    margin: 3px;
    font-family: 'Segoe UI';
    font-size: larger;
}

.userprofile-avatar {
    border: none;
    border-radius: 2px;
    margin: 5px;
    width: 200px;
    height: 250px;
}

.upload-avatar-button {
    width: 200px;
    margin: 5px;
    margin-top: 3px;
    font-family: 'Segoe UI';
    font-size: medium;
}

.upload-avatar-button:hover{
    color: white;
    background-color: midnightblue;
}

.base-button {
    font-family: 'Segoe UI';
    font-size: medium;
}

.base-button-hover:hover {
    color: white;
    background-color: midnightblue;
}

.userprofile-info{
    margin-top: 5px;
    padding: 0px;
}

 .userprofile-info h3 {
    margin: 0px;
    font-family: 'Segoe UI';
    color: midnightblue;
    overflow-wrap: break-word;
}

.userprofile-info-key {
    font-family: 'Segoe UI';
    color: midnightblue;
    font-weight: 500;
    font-size: medium;
}

.userprofile-info-value {
    font-family: 'Segoe UI';
    font-size: medium;
    word-wrap: break-word;
    overflow-wrap: break-word;

}

textarea{
    resize: none;
}

.main-content-nested-container hr{
    margin-bottom: 2%;
}

input[type="radio"]:checked + span {
    border-color: midnightblue;
    color: midnightblue;
    font-size: large;
}

input[type="text"]:focus{
    border-color: midnightblue;
    box-shadow: none;
}

textarea:focus {
    border-color: midnightblue;
    box-shadow: none;
}






.container-wrapper{
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}

.fixed-container{
    position: fixed;
}

.right-menu-element {
    font-family: 'Segoe UI';
    color: midnightblue;
    text-align:center;
    font-size:medium;
    padding: 7px;
    height: 100%;
    text-decoration: none;
}

.right-menu-element:hover{
    background-color: midnightblue;
    color: white;
}

hr.hr-menu-element {
    background-color: midnightblue;
    margin: auto;
    width: 100%;
    height: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.modal-body-content  {
    font-family: 'Segoe UI';
    text-align: center;
    font-size: large;
}


