.main-content-container { /* for menu and for content at the center of the page*/
    border: 1px solid;
    border-color: midnightblue;
    border-radius: 2px; /*Remove this class from left container on the layout and add it to each block of the downloaded content*/
}

.container-wrapper{
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}

.fixed-container{
    position: fixed;
}

.right-menu-element {
    font-family: 'Segoe UI';
    color: midnightblue;
    text-align:center;
    font-size:medium;
    padding: 7px;
    height: 100%;
    text-decoration: none;
}

.right-menu-element:hover{
    background-color: midnightblue;
    color: white;
}

hr.hr-menu-element {
    background-color: midnightblue;
    margin: auto;
    width: 100%;
    height: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}


