.tag  {
    padding: 6px;
    color: midnightblue;
    font-family: 'Segoe UI';
    border: 1px solid;
    border-color: midnightblue;
    border-radius: 2px;
    width: auto;
    font-size: medium;
    font-weight: 500;
    display: inline-block;
}

.tag:hover{
    color:white;
    background-color: midnightblue;
    cursor: pointer;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}


#post-textarea {
    margin-top: 0px;
    border-color: none !important;
    border: none !important;
    box-shadow: none !important;
    font-family: 'Segoe UI';
    font-size: medium;
    color: black;
    text-decoration: none;
    resize: none;
}

#createNewPostContent{
    text-align: center;
}

#tags-input {
    border: none !important;
    box-shadow: none !important;
    font-family: 'Segoe UI';
    color: midnightblue;
    font-size: medium;
    font-weight: 500;
    text-decoration: none;
    resize: none;
}

.non-margine{
    margin: 0px;
}