.tag  {
    padding: 6px;
    color: midnightblue;
    font-family: 'Segoe UI';
    border: 1px solid;
    border-color: midnightblue;
    border-radius: 2px;
    width: auto;
    font-size: medium;
    font-weight: 500;
    display: inline-block;
}

.tag:hover{
    color:white;
    background-color: midnightblue;
    cursor: pointer;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

#post-textarea {
    margin-top: 0px;
    border-color: none !important;
    border: none !important;
    box-shadow: none !important;
    font-family: 'Segoe UI';
    font-size: medium;
    color: black;
    text-decoration: none;
    resize: none;
}

#createNewPostContent{
    text-align: center;
    cursor: pointer;
}

#tags-input {
    border: none !important;
    box-shadow: none !important;
    font-family: 'Segoe UI';
    color: midnightblue;
    font-size: medium;
    font-weight: 500;
    text-decoration: none;
    resize: none;
}

hr.non-margine{
    margin-top: 0em;
    margin-bottom: 0em;
}

.tag-tagcloud {
    padding: 10px;
    color: midnightblue;
    font-family: 'Segoe UI';
    border: 1px solid;
    border-color: midnightblue;
    border-radius: 3px;
    width: auto;
    font-size: large;
    font-weight: 500;
    float: left;
    margin: 8px;
}

.tag-tagcloud:hover {
        color: white;
        background-color: midnightblue;
        cursor: pointer;
}

.page-name {
    margin: 0px;
    color: midnightblue;
    font-family: 'Segoe UI';
    font-size: x-large;
    font-weight: 600;
}

.likes-button {
    color: midnightblue;
    border: none;
    background-color: none;
    background: none;
    font-family: 'Segoe UI';
}

.likes-button:focus{
    outline: none;
    border: none;
}

.likes-form{
    float: right;
}

hr.divide-content {
    border-color: midnightblue;
    background-color: midnightblue;
    border-radius: 2px;
    height: 3px;
}



