
.register-container {
    background-color: whitesmoke;
    border: 2px solid;
    border-color: midnightblue;
    border-radius: 2px;
}

hr {
    margin: auto;
    border-color: midnightblue;
    background-color: midnightblue;
    border-radius: 2px;
    height: 3px;
}

h2 {
    text-align:center;
    margin:auto;
    font-family: 'Segoe UI';
}

.custom-container{
    margin-top:50px;
    margin-left:30%;
    margin-right:30%;
}

.container-margin{
    margin-top:50px;
}

.base-custom-button:hover {
    background-color: midnightblue;
    color: white;
}