body {
    margin-top: 0px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.top-nav {
    background-color: midnightblue;
    height: 40px;
    width: 100%;
    color: Highlight;
    position: fixed;
}

#top-nav-right-panel{
    margin-top: 45%;
    padding-top: 45%;
}

span.header-share{
    font-family: 'Segoe UI';
    color: lightgray;
}
span.header-yourself {
    font-family: 'Segoe UI';
    color: lightblue;
}

h2 {
    text-align: center;
    margin: auto;
}

a{
    text-decoration:none;
    text-align: center;
    margin:auto;
    color: white;
    margin-top:45%;
    font-family: 'Segoe UI';
}

a:hover{
    text-decoration:none;
    color: blue;
}

.field-validation-error {
    color: red;
    font-family: 'Segoe UI';
}
.input-validation-error {
    border-color: red;
}

.validation-summary-errors {
    color: red;
    font-family: 'Segoe UI';
}

.validation-summary-errors ul{
    list-style-type: none;
}

.base-custom-button:hover {
    background-color: midnightblue;
    color: white;
}

.link-button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    text-decoration:none;
    text-align: center;
    margin:auto;
    color: white;
    margin-top:50%;
    padding-top:3.5%;
    font-family: 'Segoe UI';
    font-weight: 500;
}

.link-button:hover {
        text-decoration: none;
        color: blue;
        background-color:none;
}
