/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.top-nav {
    background-color: midnightblue;
    width: 100%;
    color: Highlight;
    position: fixed;
    margin-bottom:1px;
    overflow: hidden;
    z-index: 1;
    top: 0;
}

#top-nav-right-panel{
    padding-top: 45%;
}

span.header-name{
    font-family: 'Segoe UI';
    color: white;
    font-weight: 700;
}

h2 {
    text-align: center;
    margin: auto;
}


.field-validation-error {
    color: red;
    font-family: 'Segoe UI';
}
.input-validation-error {
    border-color: red;
    font-size: medium;
    font-family: 'Segoe UI';
}

.validation-summary-errors {
    color: red;
    font-family: 'Segoe UI';
}

.validation-summary-errors ul{
    list-style-type: none;
}

.base-custom-button:hover {
    background-color: midnightblue;
    color: white;
}

.link-button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration:none;
    text-align: center;
    margin:auto;
    color: white;
    margin-top:50%;
    padding-top:3.5%;
    font-family: 'Segoe UI';
    font-weight: 500;
}

.link-button:hover {
        text-decoration: none;
        color: blue;
        background-color:none;
}

a {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin: auto;
    color: white;
    padding-top: 3.5%;
    font-family: 'Segoe UI';
    font-weight: 500;
}

a:hover{
    color: blue;
    text-decoration: none;
}

input[type="text"]:focus {
    border-color: midnightblue;
    box-shadow: none;
}

input[type="password"]:focus {
    border-color: midnightblue;
    box-shadow: none;
}